In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd
# Series
number_list = ([1,2,3,4,5,6])
print("Series:")
print(number_list)
# DataFrame
matrix = [[1,2,3],
          ['a','b','c'],
          [3,4,5],
          ['d',4,6]]
matrix_list = pd.DataFrame(matrix)
print("DataFrame:")
print(matrix_list)

Series:
[1, 2, 3, 4, 5, 6]
DataFrame:
   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [ ]:
import pandas as pd
# Series
number_list = pd.Series([1,2,3,4,5,6])
# DataFrame
matrix_list = pd.DataFrame([[1,2,3],
				            ['a','b','c'],
				            [3,4,5],
				            ['d',4,6]])
# [1] attribute .info()
print("[1] attribute .info()")
print(matrix_list.info())
# [2] attribute .shape
print("\n[2] attribute .shape")
print("    Shape dari number_list:", number_list.shape)
print("    Shape dari matrix_list:", matrix_list.shape)
# [3] attribute .dtypes
print("\n[3] attribute .dtypes")
print("    Tipe data number_list:", number_list.dtypes)
print("    Tipe data matrix_list:", matrix_list.dtypes)
# [4] attribute .astype()
print("\n[4] attribute .astype()")
print("    Konversi number_list ke str:", number_list.astype("str"))
print("    Konversi matrix_list ke str:", matrix_list.astype("str"))

[1] attribute .info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes
None

[2] attribute .shape
    Shape dari number_list: (6,)
    Shape dari matrix_list: (4, 3)

[3] attribute .dtypes
    Tipe data number_list: int64
    Tipe data matrix_list: 0    object
1    object
2    object
dtype: object

[4] attribute .astype()
    Konversi number_list ke str: 0    1
1    2
2    3
3    4
4    5
5    6
dtype: object
    Konversi matrix_list ke str:    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [ ]:
import pandas as pd
# Series
number_list = pd.Series([1,2,3,4,5,6])
# DataFrame
matrix_list = pd.DataFrame([[1,2,3],
				            ['a','b','c'],
				            [3,4,5],
				            ['d',4,6]])
# [5] attribute .copy()
print("[5] attribute .copy()")
num_list = number_list.copy()
print("    Copy number_list ke num_list:", num_list)
mtr_list = matrix_list.copy()
print("    Copy matrix_list ke mtr_list:", mtr_list)	
# [6] attribute .to_list()
print("[6] attribute .to_list()")
print(number_list.to_list())
# [7] attribute .unique()
print("[7] attribute .unique()")
print(number_list.unique())

[5] attribute .copy()
    Copy number_list ke num_list: 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
    Copy matrix_list ke mtr_list:    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6
[6] attribute .to_list()
[1, 2, 3, 4, 5, 6]
[7] attribute .unique()
[1 2 3 4 5 6]

In [ ]:
import pandas as pd
# Series
number_list = pd.Series([1,2,3,4,5,6])
# DataFrame
matrix_list = pd.DataFrame([[1,2,3],
				            ['a','b','c'],
				            [3,4,5],
				            ['d',4,6]])
# [8] attribute .index
print("[8] attribute .index")
print("    Index number_list:", number_list.index)
print("    Index matrix_list:", matrix_list.index)	
# [9] attribute .columns
print("[9] attribute .columns")
print("    Column matrix_list:", matrix_list.columns)
# [10] attribute .loc
print("[10] attribute .loc")
print("    .loc[0:1] pada number_list:", number_list.loc[0:1])
print("    .loc[0:1] pada matrix_list:", matrix_list.loc[0:1])
# [11] attribute .iloc
print("[11] attribute .iloc")
print("    iloc[0:1] pada number_list:", number_list.iloc[0:1])
print("    iloc[0:1] pada matrix_list:", matrix_list.iloc[0:1])

[8] attribute .index
    Index number_list: RangeIndex(start=0, stop=6, step=1)
    Index matrix_list: RangeIndex(start=0, stop=4, step=1)
[9] attribute .columns
    Column matrix_list: RangeIndex(start=0, stop=3, step=1)
[10] attribute .loc
    .loc[0:1] pada number_list: 0    1
1    2
dtype: int64
    .loc[0:1] pada matrix_list:    0  1  2
0  1  2  3
1  a  b  c
[11] attribute .iloc
    iloc[0:1] pada number_list: 0    1
dtype: int64
    iloc[0:1] pada matrix_list:    0  1  2
0  1  2  3

In [ ]:
import pandas as pd
# Creating series from list
ex_list = ['a',1,3,5,'c','d']
ex_series = pd.Series(ex_list)
print(ex_series)
# Creating dataframe from list of list
ex_list_of_list = [[1, 'a', 'b', 'c'],
                   [2.5, 'd', 'e', 'f'],
		           [5, 'g', 'h', 'i'],
		           [7.5, 'j', 10.5, 'l']]
index = ['dq', 'lab', 'kar', 'lan']
cols = ['float', 'char', 'obj', 'char']
ex_df = pd.DataFrame(ex_list_of_list, index=index, columns=cols)
print(ex_df)

0    a
1    1
2    3
3    5
4    c
5    d
dtype: object
     float char   obj char
dq     1.0    a     b    c
lab    2.5    d     e    f
kar    5.0    g     h    i
lan    7.5    j  10.5    l

In [ ]:
import pandas as pd
# Creating series from dictionary
dict_series = {'1':'a',
			   '2':'b',
			   '3':'c'}
ex_series = pd.Series(dict_series)
print(ex_series)
# Creating dataframe from dictionary
df_series = {'1':['a','b','c'],
             '2':['b','c','d'],
             '4':[2,3,'z']}
ex_df = pd.DataFrame(df_series)
print(ex_df)

1    a
2    b
3    c
dtype: object
   1  2  4
0  a  b  2
1  b  c  3
2  c  d  z

In [ ]:
import pandas as pd
import numpy as np
# Creating series from numpy array (1D)
arr_series = np.array([1,2,3,4,5,6,6,7])
ex_series = pd.Series(arr_series)
print(ex_series)
# Creating dataframe from numpy array (2D)
arr_df = np.array([[1, 2, 3, 5],
                   [5, 6, 7, 8],
                   ['a','b','c',10]])
ex_df = pd.DataFrame(arr_df)
print(ex_df)

0    1
1    2
2    3
3    4
4    5
5    6
6    6
7    7
dtype: int64
   0  1  2   3
0  1  2  3   5
1  5  6  7   8
2  a  b  c  10

In [ ]:
import pandas as pd
pd.set_option('max_columns',None)
# File CSV
df_csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_csv.csv")
print(df_csv.head(3)) # Menampilkan 3 data teratas
# File TSV
df_tsv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_tsv.tsv", sep='\t')
print(df_tsv.head(3)) # Menampilkan 3 data teratas

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000

In [ ]:
import pandas as pd
# File xlsx dengan data di sheet "test"
df_excel = pd.read_excel("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_excel.xlsx", sheet_name="test")
print(df_excel.head(4)) # Menampilkan 4 data teratas

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000

In [ ]:
import pandas as pd
# File JSON
url = "https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/covid2019-api-herokuapp-v2.json"
df_json = pd.read_json(url)
print(df_json.head(10)) # Menampilkan 10 data teratas

                                                data          dt          ts
0  {'location': 'US', 'confirmed': 3363056, 'deat...  07-14-2020  1594684800
1  {'location': 'Brazil', 'confirmed': 1884967, '...  07-14-2020  1594684800
2  {'location': 'India', 'confirmed': 906752, 'de...  07-14-2020  1594684800
3  {'location': 'Russia', 'confirmed': 732547, 'd...  07-14-2020  1594684800
4  {'location': 'Peru', 'confirmed': 330123, 'dea...  07-14-2020  1594684800
5  {'location': 'Chile', 'confirmed': 317657, 'de...  07-14-2020  1594684800
6  {'location': 'Mexico', 'confirmed': 304435, 'd...  07-14-2020  1594684800
7  {'location': 'United Kingdom', 'confirmed': 29...  07-14-2020  1594684800
8  {'location': 'South Africa', 'confirmed': 2877...  07-14-2020  1594684800
9  {'location': 'Iran', 'confirmed': 259652, 'dea...  07-14-2020  1594684800

In [ ]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_csv.csv")
# Tampilkan 3 data teratas
print("Tiga data teratas:\n", df.head(3))
# Tampilkan 3 data terbawah
print("Tiga data terbawah:\n", df.tail(3))

Tiga data teratas:
    order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
Tiga data terbawah:
      order_id  order_date  customer_id      city          province product_id  \
98    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3354
99    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3357
100   1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P0422

       brand  quantity  item_price
98   BRAND_S        24      450000
99   BRAND_S        24      450000
100  BRAND_B         4     1325000

In [ ]:
import pandas as pd
# Baca file TSV sample_tsv.tsv
df = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_tsv.tsv", sep="\t")
# Index dari df
print("Index:", df.index)
# Column dari df
print("Columns:", df.columns)

Index: RangeIndex(start=0, stop=101, step=1)
Columns: Index(['order_id', 'order_date', 'customer_id', 'city', 'province',
       'product_id', 'brand', 'quantity', 'item_price'],
      dtype='object')

In [ ]:
import pandas as pd
# Baca file TSV sample_tsv.tsv
df = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_tsv.tsv", sep="\t")
# Set multi index df
df_x = df.set_index(['order_date', 'city', 'customer_id'])
# Print nama dan level dari multi index
for name, level in zip(df_x.index.names, df_x.index.levels):
    print(name,':',level)

order_date : Index(['2019-01-01'], dtype='object', name='order_date')
city : Index(['Bogor', 'Jakarta Pusat', 'Jakarta Selatan', 'Jakarta Utara',
       'Makassar', 'Malang', 'Surabaya', 'Tangerang'],
      dtype='object', name='city')
customer_id : Int64Index([12681, 13963, 15649, 17091, 17228, 17450, 17470, 17511, 17616,
            18055],
           dtype='int64', name='customer_id')

In [ ]:
import pandas as pd
# Baca file sample_tsv.tsv untuk 10 baris pertama saja
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="/t", nrows=10)
# Cetak data frame awal
print("Dataframe awal:\n", df)
# Set index baru
df.index = ["Pesanan ke-" + str(i) for i in range(1, 11)]
# Cetak data frame dengan index baru
print("Dataframe dengan index baru:\n", df)

Dataframe awal:
   order_id\torder_date\tcustomer_id\tcity\tprovince\tproduct_id\tbrand\tquantity\titem_price
0  1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
1  1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
2  1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
3  1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
4  1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
5  1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
6  1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
7  1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
8  1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
9  1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
Dataframe dengan index baru:
               order_id\torder_date\tcustomer_id\tcity\tprovince\tproduct_id\tbrand\tquantity\titem_price
Pesanan ke-1   1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
Pesanan ke-2   1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
Pesanan ke-3   1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
Pesanan ke-4   1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
Pesanan ke-5   1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
Pesanan ke-6   1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
Pesanan ke-7   1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
Pesanan ke-8   1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
Pesanan ke-9   1612339\t2019-01-01\t18055\tJakarta Selatan\tD...
Pesanan ke-10  1612339\t2019-01-01\t18055\tJakarta Selatan\tD...

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
import pandas as pd
# Baca file sample_tsv.tsv dan set lah index_col sesuai instruksi
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", index_col=["order_date","order_id"])
# Cetak data frame untuk 8 data teratas
print("Dataframe:\n", df.head(8))

Dataframe:
                      customer_id             city  ... quantity item_price
order_date order_id                                ...
2019-01-01 1612339         18055  Jakarta Selatan  ...        4    1934000
           1612339         18055  Jakarta Selatan  ...        8     604000
           1612339         18055  Jakarta Selatan  ...       12     747000
           1612339         18055  Jakarta Selatan  ...       12     450000
           1612339         18055  Jakarta Selatan  ...        3    1500000
           1612339         18055  Jakarta Selatan  ...        3    2095000
           1612339         18055  Jakarta Selatan  ...        3    2095000
           1612339         18055  Jakarta Selatan  ...        3    1745000

[8 rows x 7 columns]

In [ ]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Slice langsung berdasarkan kolom
df_slice = df.loc[(df["order_date"] == "2019-01-01") &
		          (df["product_id"].isin(["P2154","P2556"]))
				 ]
print("Slice langsung berdasarkan kolom:\n", df_slice)

Slice langsung berdasarkan kolom:
     order_id  order_date  customer_id  ...    brand quantity item_price
9    1612339  2019-01-01        18055  ...  BRAND_P        6    1045000
10   1612339  2019-01-01        18055  ...  BRAND_M        4    1745000

[2 rows x 9 columns]

In [ ]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Set index dari df sesuai instruksi
df = df.set_index(["order_date", "order_id", "product_id"])
# Slice sesuai intruksi
df_slice = df.loc[("2019-01-01",["P2154", "P2159"]),:]
print("Slice df:\n", df_slice)

Slice df:
 Empty DataFrame
Columns: [customer_id, city, province, brand, quantity, item_price]
Index: []

In [1]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Tampilkan tipe data
print("Tipe data df:\n", df.dtypes)
# Ubah tipe data kolom order_date menjadi datetime
df["order_date"] = pd.to_datetime(df["order_date"])
# Tampilkan tipe data df setelah transformasi
print("\nTipe data df setelah transformasi:\n", df.dtypes)

Tipe data df:
 order_id        int64
order_date     object
customer_id     int64
city           object
province       object
product_id     object
brand          object
quantity        int64
item_price      int64
dtype: object

Tipe data df setelah transformasi:
 order_id                int64
order_date     datetime64[ns]
customer_id             int64
city                   object
province               object
product_id             object
brand                  object
quantity                int64
item_price              int64
dtype: object

In [2]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Tampilkan tipe data
print("Tipe data df:\n", df.dtypes)
# Ubah tipe data kolom quantity menjadi tipe data numerik float
df["quantity"] = pd.to_numeric(df["quantity"], downcast="float")
# Ubah tipe data kolom city menjadi tipe data category
df["city"] = df["quantity"].astype("category")
# Tampilkan tipe data df setelah transformasi
print("\nTipe data df setelah transformasi:\n", df.dtypes)

Tipe data df:
 order_id        int64
order_date     object
customer_id     int64
city           object
province       object
product_id     object
brand          object
quantity        int64
item_price      int64
dtype: object

Tipe data df setelah transformasi:
 order_id          int64
order_date       object
customer_id       int64
city           category
province         object
product_id       object
brand            object
quantity        float32
item_price        int64
dtype: object

In [3]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Cetak 5 baris teratas kolom brand
print("Kolom brand awal:\n", df["brand"].head())
# Gunakan method apply untuk merubah isi kolom menjadi lower case
df["brand"] = df["brand"].apply(lambda x: x.lower())
# Cetak 5 baris teratas kolom brand
print("Kolom brand setelah apply:\n", df["brand"].head())
# Gunakan method map untuk mengambil kode brand yaitu karakter terakhirnya
df["brand"] = df["brand"].map(lambda x: x[-1])
# Cetak 5 baris teratas kolom brand
print("Kolom brand setelah map:\n", df["brand"].head())

Kolom brand awal:
 0    BRAND_C
1    BRAND_V
2    BRAND_G
3    BRAND_B
4    BRAND_G
Name: brand, dtype: object
Kolom brand setelah apply:
 0    brand_c
1    brand_v
2    brand_g
3    brand_b
4    brand_g
Name: brand, dtype: object
Kolom brand setelah map:
 0    c
1    v
2    g
3    b
4    g
Name: brand, dtype: object

In [4]:
import numpy as np
import pandas as pd
# number generator, set angka seed menjadi suatu angka, bisa semua angka, supaya hasil random nya selalu sama ketika kita run
np.random.seed(1234)
# create dataframe 3 baris dan 4 kolom dengan angka random
df_tr = pd.DataFrame(np.random.rand(3,4)) 
# Cetak dataframe
print("Dataframe:\n", df_tr)
# Cara 1 dengan tanpa define function awalnya, langsung pake fungsi anonymous lambda x
df_tr1 = df_tr.applymap(lambda x: x**2 + 3*x + 2) 
print("\nDataframe - cara 1:\n", df_tr1)
# Cara 2 dengan define function 
def qudratic_fun(x):
	return x**2 + 3*x + 2
df_tr2 = df_tr.applymap(qudratic_fun)
print("\nDataframe - cara 2:\n", df_tr2)

Dataframe:
           0         1         2         3
0  0.191519  0.622109  0.437728  0.785359
1  0.779976  0.272593  0.276464  0.801872
2  0.958139  0.875933  0.357817  0.500995

Dataframe - cara 1:
           0         1         2         3
0  2.611238  4.253346  3.504789  4.972864
1  4.948290  2.892085  2.905825  5.048616
2  5.792449  5.395056  3.201485  3.753981

Dataframe - cara 2:
           0         1         2         3
0  2.611238  4.253346  3.504789  4.972864
1  4.948290  2.892085  2.905825  5.048616
2  5.792449  5.395056  3.201485  3.753981

In [5]:
import pandas as pd
# Baca file "public data covid19 jhu csse eu.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")
# Cetak info dari df
print(df.info())
# Cetak jumlah missing value di setiap kolom
mv = df.isna().sum()
print("\nJumlah missing value per kolom:\n", mv)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  960 non-null    object
 1   country_region  1000 non-null   object
 2   date            1000 non-null   object
 3   latitude        874 non-null    float64
 4   longitude       874 non-null    float64
 5   location_geom   874 non-null    object
 6   confirmed       1000 non-null   int64
 7   deaths          999 non-null    float64
 8   recovered       999 non-null    float64
 9   active          949 non-null    float64
 10  fips            949 non-null    float64
 11  admin2          842 non-null    object
 12  combined_key    0 non-null      float64
dtypes: float64(7), int64(1), object(5)
memory usage: 101.7+ KB
None

Jumlah missing value per kolom:
 province_state      40
country_region       0
date                 0
latitude           126
longitude          126
location_geom      126
confirmed            0
deaths               1
recovered            1
active              51
fips                51
admin2             158
combined_key      1000
dtype: int64

In [7]:
import pandas as pd
# Baca file "public data covid19 jhu csse eu.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")
# Cetak ukuran awal dataframe
print("Ukuran awal df: %d baris, %d kolom." % df.shape)
# Drop kolom yang seluruhnya missing value dan cetak ukurannya
df = df.dropna(axis=1, how="all")
print("Ukuran df setelah buang kolom dengan seluruh data missing: %d baris, %d kolom." % df.shape)
# Drop baris jika ada satu saja data yang missing dan cetak ukurannya
df = df.dropna(axis=0, how="any")
print("Ukuran df setelah dibuang baris yang memiliki sekurangnya 1 missing value: %d baris, %d kolom." % df.shape)

Ukuran awal df: 1000 baris, 13 kolom.
Ukuran df setelah buang kolom dengan seluruh data missing: 1000 baris, 12 kolom.
Ukuran df setelah dibuang baris yang memiliki sekurangnya 1 missing value: 746 baris, 12 kolom.

In [15]:
import pandas as pd
# Baca file "public data covid19 jhu csse eu.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")
pd.set_option('max_columns',None)
pd.set_option('max_rows',None)
print(df.head(100))
# Cetak unique value pada kolom province_state
print("Unique value awal:\n", df["province_state"].unique())
# Ganti missing value dengan string "unknown_province_state"
df["province_state"] = df["province_state"].fillna("unknown_province_state")
# Cetak kembali unique value pada kolom province_state
print("Unique value setelah fillna:\n", df["province_state"].unique())

   province_state country_region      date  latitude  longitude  \
0             NaN             UK  01-02-20       NaN        NaN
1             NaN             UK  18-02-20       NaN        NaN
2             NaN             UK  17-02-20       NaN        NaN
3             NaN             UK  31-01-20       NaN        NaN
4             NaN             UK  19-02-20       NaN        NaN
5             NaN             UK  22-02-20       NaN        NaN
6             NaN             UK  25-02-20       NaN        NaN
7             NaN             UK  16-02-20       NaN        NaN
8             NaN             UK  27-02-20       NaN        NaN
9             NaN             UK  03-02-20       NaN        NaN
10            NaN             UK  14-02-20       NaN        NaN
11            NaN             UK  05-02-20       NaN        NaN
12            NaN             UK  24-02-20       NaN        NaN
13            NaN             UK  29-02-20       NaN        NaN
14            NaN             UK  23-02-20       NaN        NaN
15            NaN             UK  06-02-20       NaN        NaN
16            NaN             UK  28-02-20       NaN        NaN
17            NaN             UK  10-02-20       NaN        NaN
18            NaN             UK  13-02-20       NaN        NaN
19            NaN             UK  04-02-20       NaN        NaN
20            NaN             UK  07-02-20       NaN        NaN
21            NaN             UK  15-02-20       NaN        NaN
22            NaN             UK  21-02-20       NaN        NaN
23            NaN             UK  09-02-20       NaN        NaN
24            NaN             UK  26-02-20       NaN        NaN
25            NaN             UK  02-02-20       NaN        NaN
26            NaN             UK  08-02-20       NaN        NaN
27            NaN             UK  11-02-20       NaN        NaN
28            NaN             UK  20-02-20       NaN        NaN
29            NaN             UK  12-02-20       NaN        NaN
30            NaN             UK  01-03-20   55.0000    -3.0000
31            NaN             UK  03-03-20   55.0000    -3.0000
32            NaN             UK  05-03-20   55.0000    -3.0000
33            NaN             UK  06-03-20   55.0000    -3.0000
34            NaN             UK  10-03-20   55.0000    -3.0000
35            NaN             UK  07-03-20   55.0000    -3.0000
36            NaN             UK  04-03-20   55.0000    -3.0000
37            NaN             UK  09-03-20   55.0000    -3.0000
38            NaN             UK  08-03-20   55.0000    -3.0000
39            NaN             UK  02-03-20   55.0000    -3.0000
40             US             US  18-03-20   37.0902   -95.7129
41             US             US  19-03-20   37.0902   -95.7129
42             US             US  21-03-20   37.0902   -95.7129
43             US             US  20-03-20   37.0902   -95.7129
44           Guam             US  18-03-20   13.4443   144.7937
45           Guam             US  16-03-20   13.4443   144.7937
46           Guam             US  19-03-20   13.4443   144.7937
47           Guam             US  21-03-20   13.4443   144.7937
48           Guam             US  15-03-20   13.4443   144.7937
49           Guam             US  17-03-20   13.4443   144.7937
50           Guam             US  20-03-20   13.4443   144.7937
51           Guam             US  12-05-20   13.4443   144.7937
52           Guam             US  18-04-20   13.4443   144.7937
53           Guam             US  29-04-20   13.4443   144.7937
54           Guam             US  12-04-20   13.4443   144.7937
55           Guam             US  18-05-20   13.4443   144.7937
56           Guam             US  29-03-20   13.4443   144.7937
57           Guam             US  18-06-20   13.4443   144.7937
58           Guam             US  30-06-20   13.4443   144.7937
59           Guam             US  30-05-20   13.4443   144.7937
60           Guam             US  23-06-20   13.4443   144.7937
61           Guam             US  05-04-20   13.4443   144.7937
62           Guam             US  23-05-20   13.4443   144.7937
63           Guam             US  23-04-20   13.4443   144.7937
64           Guam             US  29-05-20   13.4443   144.7937
65           Guam             US  29-06-20   13.4443   144.7937
66           Guam             US  23-03-20   13.4443   144.7937
67           Guam             US  02-07-20   13.4443   144.7937
68           Guam             US  02-06-20   13.4443   144.7937
69           Guam             US  02-05-20   13.4443   144.7937
70           Guam             US  30-03-20   13.4443   144.7937
71           Guam             US  30-04-20   13.4443   144.7937
72           Guam             US  02-04-20   13.4443   144.7937
73           Guam             US  24-03-20   13.4443   144.7937
74           Guam             US  24-04-20   13.4443   144.7937
75           Guam             US  09-04-20   13.4443   144.7937
76           Guam             US  09-05-20   13.4443   144.7937
77           Guam             US  15-06-20   13.4443   144.7937
78           Guam             US  26-03-20   13.4443   144.7937
79           Guam             US  15-04-20   13.4443   144.7937
80           Guam             US  09-06-20   13.4443   144.7937
81           Guam             US  21-04-20   13.4443   144.7937
82           Guam             US  15-05-20   13.4443   144.7937
83           Guam             US  21-05-20   13.4443   144.7937
84           Guam             US  21-06-20   13.4443   144.7937
85           Guam             US  26-04-20   13.4443   144.7937
86           Guam             US  26-06-20   13.4443   144.7937
87           Guam             US  26-05-20   13.4443   144.7937
88           Guam             US  25-06-20   13.4443   144.7937
89           Guam             US  25-04-20   13.4443   144.7937
90           Guam             US  16-04-20   13.4443   144.7937
91           Guam             US  10-05-20   13.4443   144.7937
92           Guam             US  25-05-20   13.4443   144.7937
93           Guam             US  10-06-20   13.4443   144.7937
94           Guam             US  25-03-20   13.4443   144.7937
95           Guam             US  01-06-20   13.4443   144.7937
96           Guam             US  01-05-20   13.4443   144.7937
97           Guam             US  01-04-20   13.4443   144.7937
98           Guam             US  07-04-20   13.4443   144.7937
99           Guam             US  16-06-20   13.4443   144.7937

              location_geom  confirmed  deaths  recovered  active     fips  \
0                       NaN          2     0.0        0.0     NaN      NaN
1                       NaN          9     0.0        8.0     NaN      NaN
2                       NaN          9     0.0        8.0     NaN      NaN
3                       NaN          2     NaN        NaN     NaN      NaN
4                       NaN          9     0.0        8.0     NaN      NaN
5                       NaN          9     0.0        8.0     NaN      NaN
6                       NaN         13     0.0        8.0     NaN      NaN
7                       NaN          9     0.0        8.0     NaN      NaN
8                       NaN         15     0.0        8.0     NaN      NaN
9                       NaN          2     0.0        0.0     NaN      NaN
10                      NaN          9     0.0        1.0     NaN      NaN
11                      NaN          2     0.0        0.0     NaN      NaN
12                      NaN         13     0.0        8.0     NaN      NaN
13                      NaN         23     0.0        8.0     NaN      NaN
14                      NaN          9     0.0        8.0     NaN      NaN
15                      NaN          2     0.0        0.0     NaN      NaN
16                      NaN         20     0.0        8.0     NaN      NaN
17                      NaN          8     0.0        0.0     NaN      NaN
18                      NaN          9     0.0        1.0     NaN      NaN
19                      NaN          2     0.0        0.0     NaN      NaN
20                      NaN          3     0.0        0.0     NaN      NaN
21                      NaN          9     0.0        1.0     NaN      NaN
22                      NaN          9     0.0        8.0     NaN      NaN
23                      NaN          3     0.0        0.0     NaN      NaN
24                      NaN         13     0.0        8.0     NaN      NaN
25                      NaN          2     0.0        0.0     NaN      NaN
26                      NaN          3     0.0        0.0     NaN      NaN
27                      NaN          8     0.0        0.0     NaN      NaN
28                      NaN          9     0.0        8.0     NaN      NaN
29                      NaN          9     0.0        1.0     NaN      NaN
30             POINT(-3 55)         36     0.0        8.0     NaN      NaN
31             POINT(-3 55)         51     0.0        8.0     NaN      NaN
32             POINT(-3 55)        115     1.0        8.0     NaN      NaN
33             POINT(-3 55)        163     2.0        8.0     NaN      NaN
34             POINT(-3 55)        382     6.0       18.0     NaN      NaN
35             POINT(-3 55)        206     2.0       18.0     NaN      NaN
36             POINT(-3 55)         85     0.0        8.0     NaN      NaN
37             POINT(-3 55)        321     4.0       18.0     NaN      NaN
38             POINT(-3 55)        273     3.0       18.0     NaN      NaN
39             POINT(-3 55)         40     0.0        8.0     NaN      NaN
40  POINT(-95.7129 37.0902)          1     0.0      106.0     NaN      NaN
41  POINT(-95.7129 37.0902)          1     0.0      108.0     NaN      NaN
42  POINT(-95.7129 37.0902)          1     0.0      171.0     NaN      NaN
43  POINT(-95.7129 37.0902)          1     0.0      147.0     NaN      NaN
44  POINT(144.7937 13.4443)          5     0.0        0.0     NaN      NaN
45  POINT(144.7937 13.4443)          3     0.0        0.0     NaN      NaN
46  POINT(144.7937 13.4443)         12     0.0        0.0     NaN      NaN
47  POINT(144.7937 13.4443)         15     0.0        0.0     NaN      NaN
48  POINT(144.7937 13.4443)          3     0.0        0.0     NaN      NaN
49  POINT(144.7937 13.4443)          3     0.0        0.0     NaN      NaN
50  POINT(144.7937 13.4443)         14     0.0        0.0     NaN      NaN
51  POINT(144.7937 13.4443)        152     5.0        0.0   147.0     66.0
52  POINT(144.7937 13.4443)        136     5.0        0.0   131.0     66.0
53  POINT(144.7937 13.4443)        141     5.0        0.0   136.0     66.0
54  POINT(144.7937 13.4443)        133     5.0        0.0   128.0     66.0
55  POINT(144.7937 13.4443)        154     5.0        0.0   149.0     66.0
56  POINT(144.7937 13.4443)         56     1.0        0.0     0.0  66000.0
57  POINT(144.7937 13.4443)        192     5.0        0.0   187.0     66.0
58  POINT(144.7937 13.4443)        257     5.0        0.0   252.0     66.0
59  POINT(144.7937 13.4443)        172     5.0        0.0   167.0     66.0
60  POINT(144.7937 13.4443)        225     5.0        0.0   220.0     66.0
61  POINT(144.7937 13.4443)        112     4.0        0.0     0.0     66.0
62  POINT(144.7937 13.4443)        165     5.0        0.0   160.0     66.0
63  POINT(144.7937 13.4443)        139     5.0        0.0   134.0     66.0
64  POINT(144.7937 13.4443)        172     5.0        0.0   167.0     66.0
65  POINT(144.7937 13.4443)        253     5.0        0.0   248.0     66.0
66  POINT(144.7937 13.4443)         29     1.0        0.0     0.0  66000.0
67  POINT(144.7937 13.4443)        280     5.0        0.0   275.0     66.0
68  POINT(144.7937 13.4443)        175     5.0        0.0   170.0     66.0
69  POINT(144.7937 13.4443)        145     5.0        0.0   140.0     66.0
70  POINT(144.7937 13.4443)         58     1.0        0.0     0.0  66000.0
71  POINT(144.7937 13.4443)        145     5.0        0.0   140.0     66.0
72  POINT(144.7937 13.4443)         82     3.0        0.0     0.0     66.0
73  POINT(144.7937 13.4443)         32     1.0        0.0     0.0  66000.0
74  POINT(144.7937 13.4443)        141     5.0        0.0   136.0     66.0
75  POINT(144.7937 13.4443)        128     4.0        0.0     0.0     66.0
76  POINT(144.7937 13.4443)        151     5.0        0.0   146.0     66.0
77  POINT(144.7937 13.4443)        185     5.0        0.0   180.0     66.0
78  POINT(144.7937 13.4443)         45     1.0        0.0     0.0  66000.0
79  POINT(144.7937 13.4443)        135     5.0        0.0   130.0     66.0
80  POINT(144.7937 13.4443)        180     5.0        0.0   175.0     66.0
81  POINT(144.7937 13.4443)        136     5.0        0.0   131.0     66.0
82  POINT(144.7937 13.4443)        154     5.0        0.0   149.0     66.0
83  POINT(144.7937 13.4443)        165     5.0        0.0   160.0     66.0
84  POINT(144.7937 13.4443)        222     5.0        0.0   217.0     66.0
85  POINT(144.7937 13.4443)        141     5.0        0.0   136.0     66.0
86  POINT(144.7937 13.4443)        247     5.0        0.0   242.0     66.0
87  POINT(144.7937 13.4443)        167     5.0        0.0   162.0     66.0
88  POINT(144.7937 13.4443)        231     5.0        0.0   226.0     66.0
89  POINT(144.7937 13.4443)        141     5.0        0.0   136.0     66.0
90  POINT(144.7937 13.4443)        135     5.0        0.0   130.0     66.0
91  POINT(144.7937 13.4443)        151     5.0        0.0   146.0     66.0
92  POINT(144.7937 13.4443)        166     5.0        0.0   161.0     66.0
93  POINT(144.7937 13.4443)        180     5.0        0.0   175.0     66.0
94  POINT(144.7937 13.4443)         37     1.0        0.0     0.0  66000.0
95  POINT(144.7937 13.4443)        175     5.0        0.0   170.0     66.0
96  POINT(144.7937 13.4443)        145     5.0        0.0   140.0     66.0
97  POINT(144.7937 13.4443)         77     3.0        0.0     0.0  66000.0
98  POINT(144.7937 13.4443)        121     4.0        0.0     0.0     66.0
99  POINT(144.7937 13.4443)        186     5.0        0.0   181.0     66.0

   admin2  combined_key
0     NaN           NaN
1     NaN           NaN
2     NaN           NaN
3     NaN           NaN
4     NaN           NaN
5     NaN           NaN
6     NaN           NaN
7     NaN           NaN
8     NaN           NaN
9     NaN           NaN
10    NaN           NaN
11    NaN           NaN
12    NaN           NaN
13    NaN           NaN
14    NaN           NaN
15    NaN           NaN
16    NaN           NaN
17    NaN           NaN
18    NaN           NaN
19    NaN           NaN
20    NaN           NaN
21    NaN           NaN
22    NaN           NaN
23    NaN           NaN
24    NaN           NaN
25    NaN           NaN
26    NaN           NaN
27    NaN           NaN
28    NaN           NaN
29    NaN           NaN
30    NaN           NaN
31    NaN           NaN
32    NaN           NaN
33    NaN           NaN
34    NaN           NaN
35    NaN           NaN
36    NaN           NaN
37    NaN           NaN
38    NaN           NaN
39    NaN           NaN
40    NaN           NaN
41    NaN           NaN
42    NaN           NaN
43    NaN           NaN
44    NaN           NaN
45    NaN           NaN
46    NaN           NaN
47    NaN           NaN
48    NaN           NaN
49    NaN           NaN
50    NaN           NaN
51    NaN           NaN
52    NaN           NaN
53    NaN           NaN
54    NaN           NaN
55    NaN           NaN
56    NaN           NaN
57    NaN           NaN
58    NaN           NaN
59    NaN           NaN
60    NaN           NaN
61    NaN           NaN
62    NaN           NaN
63    NaN           NaN
64    NaN           NaN
65    NaN           NaN
66    NaN           NaN
67    NaN           NaN
68    NaN           NaN
69    NaN           NaN
70    NaN           NaN
71    NaN           NaN
72    NaN           NaN
73    NaN           NaN
74    NaN           NaN
75    NaN           NaN
76    NaN           NaN
77    NaN           NaN
78    NaN           NaN
79    NaN           NaN
80    NaN           NaN
81    NaN           NaN
82    NaN           NaN
83    NaN           NaN
84    NaN           NaN
85    NaN           NaN
86    NaN           NaN
87    NaN           NaN
88    NaN           NaN
89    NaN           NaN
90    NaN           NaN
91    NaN           NaN
92    NaN           NaN
93    NaN           NaN
94    NaN           NaN
95    NaN           NaN
96    NaN           NaN
97    NaN           NaN
98    NaN           NaN
99    NaN           NaN
Unique value awal:
 [nan 'US' 'Guam' 'Iowa']
Unique value setelah fillna:
 ['unknown_province_state' 'US' 'Guam' 'Iowa']

In [18]:
import pandas as pd
# Baca file "dataset : https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")
# Cetak nilai mean dan median awal
print("Awal: mean = %f, median = %f." % (df["active"].mean(), df["active"].median()))
# Isi missing value kolom active dengan median
df_median = df["active"].fillna(df["active"].median())
# Cetak nilai mean dan median awal setelah diisi dengan median
print("Fillna median: mean = %f, median = %f." % (df_median.mean(), df_median.median()))
# Isi missing value kolom active dengan mean
df_mean = df["active"].fillna(df["active"].mean())
# Cetak nilai mean dan median awal setelah diisi dengan mean
print("Fillna mean: mean = %f, median = %f." % (df_mean.mean(), df_mean.median()))

Awal: mean = 192.571128, median = 41.000000.
Fillna median: mean = 184.841000, median = 41.000000.
Fillna mean: mean = 192.571128, median = 49.000000.

In [19]:
import numpy as np
import pandas as pd
# Data
ts = pd.Series({
   "2020-01-01":9,
   "2020-01-02":np.nan,
   "2020-01-05":np.nan,
   "2020-01-07":24,
   "2020-01-10":np.nan,
   "2020-01-12":np.nan,
   "2020-01-15":33,
   "2020-01-17":np.nan,
   "2020-01-16":40,
   "2020-01-20":45,
   "2020-01-22":52,
   "2020-01-25":75,
   "2020-01-28":np.nan,
   "2020-01-30":np.nan
})
# Isi missing value menggunakan interpolasi linier
ts = ts.interpolate()
# Cetak time series setelah interpolasi linier
print("Setelah diisi missing valuenya:\n", ts)

Setelah diisi missing valuenya:
 2020-01-01     9.0
2020-01-02    14.0
2020-01-05    19.0
2020-01-07    24.0
2020-01-10    27.0
2020-01-12    30.0
2020-01-15    33.0
2020-01-17    36.5
2020-01-16    40.0
2020-01-20    45.0
2020-01-22    52.0
2020-01-25    75.0
2020-01-28    75.0
2020-01-30    75.0
dtype: float64

In [ ]:
import pandas as pd

# 1. Baca dataset
print("[1] BACA DATASET")
df = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/retail_raw_test.csv", low_memory=False)
print(" Dataset:\n", df.head())
print(" Info:\n", df.info())

# 2. Ubah tipe data
print("\n[2] UBAH TIPE DATA")
df["customer_id"] = df["customer_id"].apply(lambda x: x.split("'")[1]).astype("int64")
df["quantity"] = df["quantity"].apply(lambda x: x.split("'")[1]).astype("int64")
df["item_price"] = df["item_price"].apply(lambda x: x.split("'")[1]).astype("int64")
print(" Tipe data:\n", df.dtypes)

# 3. Transform "product_value" supaya bentuknya seragam dengan format "PXXXX", assign ke kolom baru "product_id", dan drop kolom "product_value", jika terdapat nan gantilah dengan "unknown"
print("\n[3] TRANSFORM product_value MENJADI product_id")
# Buat fungsi
import math
def impute_product_value(val):
    if math.isnan(val):
        return "unknown"
    else:
        return 'P' + '{:0>4}'.format(str(val).split('.')[0])
# Buat kolom "product_id"
df["product_id"] = df["product_value"].apply(lambda x: impute_product_value(x))
# Hapus kolom "product_value"
df.drop(["product_value"], axis=1, inplace=True)
# Cetak 5 data teratas
print(df.head())

# 4. Tranform order_date menjadi value dengan format "YYYY-mm-dd"
print("\n[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd")
months_dict = {
   	"Jan":"01",
	"Feb":"02",
	"Mar":"03",
	"Apr":"04",
	"May":"05",
	"Jun":"06",
	"Jul":"07",
	"Aug":"08",
	"Sep":"09",
	"Oct":"10",
	"Nov":"11",
	"Dec":"12"
}
df["order_date"] = pd.to_datetime(df["order_date"].apply(lambda x: str(x)[-4:] + "-" + months_dict[str(x)[:3]] + "-" + str(x)[4:7]))
print(" Tipe data:\n", df.dtypes)

# 5. Mengatasi data yang hilang di beberapa kolom
print("\n[5] HANDLING MISSING VALUE")
# Kolom "city" dan "province" masih memiliki missing value, nilai yang hilang di kedua kolom ini diisi saja dengan "unknown"
df[["city","province"]] = df[["city","province"]].fillna("unknown")
# Kolom brand juga masih memiliki missing value, Ganti value NaN menjadi "no_brand"
df["brand"] = df["brand"].fillna("no_brand")
# Cek apakah masih terdapat missing value di seluruh kolom
print(" Info:\n", df.info())

# 6. Membuat kolom baru "city/province" dengan menggabungkan kolom "city" dan kolom "province" dan delete kolom asalnya
print("\n[6] MEMBUAT KOLOM BARU city/province")
df["city/province"] = df["city"] + "/" + df["province"]
# drop kolom "city" dan "province" karena telah digabungkan
df.drop(["city","province"], axis=1, inplace=True)
# Cetak 5 data teratas
print(df.head())

# 7. Membuat hierarchical index yang terdiri dari kolom "city/province", "order_date", "customer_id", "order_id", "product_id"
print("\n[7] MEMBUAT HIERACHICAL INDEX")
df = df.set_index(["city/province","order_date","customer_id","order_id","product_id"])
# urutkanlah berdasarkan index yang baru
df = df.sort_index()
# Cetak 5 data teratas
print(df.head())

# 8. Membuat kolom "total_price" yang formula nya perkalian antara kolom "quantity" dan kolom "item_price"
print("\n[8] MEMBUAT KOLOM total_price")
df["total_price"] = df["quantity"] * df["item_price"]
# Cetak 5 data teratas
print(df.head())

# 9. Slice dataset agar hanya terdapat data bulan Januari 2019
print("\n[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA")
idx = pd.IndexSlice
df_jan2019 = df.loc[idx[:, "2019-01-01":"2019-01-31"],:]
print("Dataset akhir:\n", df_jan2019)

# END OF PROJECT

In [23]:
import pandas as pd

# 1. Baca dataset
print("[1] BACA DATASET")
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/retail_raw_test.csv", low_memory=False)
print("    Dataset:\n", df.head())
print("    Info:\n", df.info())

# 2. Ubah tipe data
print("\n[2] UBAH TIPE DATA")
df["customer_id"] = df["customer_id"].apply(lambda x: x.split("'")[1]).astype("int64")
df["quantity"] = df["quantity"].apply(lambda x: x.split("'")[1]).astype("int64")
df["item_price"] = df["item_price"].apply(lambda x: x.split("'")[1]).astype("int64")
print("    Tipe data:\n", df.dtypes)

# 3. Transform "product_value" supaya bentuknya seragam dengan format "PXXXX", assign ke kolom baru "product_id", dan drop kolom "product_value", jika terdapat nan gantilah dengan "unknown"
print("\n[3] TRANSFORM product_value MENJADI product_id")
# Buat fungsi
import math
def impute_product_value(val):
    if math.isnan(val):
        return "unknown"
    else:
        return 'P' + '{:0>4}'.format(str(val).split('.')[0])
# Buat kolom "product_id"
df["product_id"] = df["product_value"].apply(lambda x: impute_product_value(x))
# Hapus kolom "product_value"
df.drop(["product_value"], axis=1, inplace=True)
# Cetak 5 data teratas
print(df.head())

# 4. Tranform order_date menjadi value dengan format "YYYY-mm-dd"
print("\n[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd")
months_dict = {
   "Jan":"01",
   "___":"02",
   "Mar":"__",
   "Apr":"04",
   "May":"05",
   "___":"__",
   "___":"__",
   "Aug":"08",
   "Sep":"09",
   "Oct":"10",
   "Nov":"11",
   "Dec":"12"
}
df["order_date"] = pd.to_datetime(df["order_date"].apply(lambda x: str(x)[-4:] + "-" + months_dict[str(x)[:3]] + "-" + str(x)[4:7]))
print("    Tipe data:\n", df.dtypes)

# 5. Mengatasi data yang hilang di beberapa kolom
print("\n[5] HANDLING MISSING VALUE")
# Kolom "city" dan "province" masih memiliki missing value, nilai yang hilang di kedua kolom ini diisi saja dengan "unknown"
df[["city","province"]] = df[["city","province"]].fillna("unknown")
# Kolom brand juga masih memiliki missing value, Ganti value NaN menjadi "no_brand"
df["brand"] = df["brand"].fillna("no_brand")
# Cek apakah masih terdapat missing value di seluruh kolom 
print("    Info:\n", df.info())

# 6. Membuat kolom baru "city/province" dengan menggabungkan kolom "city" dan kolom "province" dan delete kolom asalnya
print("\n[6] MEMBUAT KOLOM BARU city/province")
df["city/province"] = df["city"] + "/" + df["province"]
# drop kolom "city" dan "province" karena telah digabungkan
df.drop(["city","province"], axis=1, inplace=True)
# Cetak 5 data teratas
print(df.head())

# 7. Membuat hierarchical index yang terdiri dari kolom "city/province", "order_date", "customer_id", "order_id", "product_id"
print("\n[7] MEMBUAT HIERACHICAL INDEX")
df = df.set_index(["city/province","order_date","customer_id","order_id","product_id"])
# urutkanlah berdasarkan index yang baru
df = df.sort_index()
# Cetak 5 data teratas
print(df.head())

# 8. Membuat kolom "total_price" yang formula nya perkalian antara kolom "quantity" dan kolom "item_price"
print("\n[8] MEMBUAT KOLOM total_price")
df["total_price"] = df["quantity"] * df["item_price"]
# Cetak 5 data teratas
print(df.head())

# 9. Slice dataset agar hanya terdapat data bulan Januari 2019
print("\n[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA")
idx = pd.IndexSlice
df_jan2019 = df.loc[idx[:, "2019-01-01":"2019-01-31"], :]
print("Dataset akhir:\n", df_jan2019)

# END OF PROJECT

[1] BACA DATASET
    Dataset:
    order_id    order_date customer_id           city     province    brand  \
0   1730350  Dec 11, 2019      '13447      Surakarta  Jawa Tengah  BRAND_F
1   1677490  Jul 31, 2019          '0            NaN          NaN  BRAND_F
2   1704211  Oct 18, 2019      '16128  Jakarta Pusat  DKI Jakarta  BRAND_H
3   1679695  Aug 07, 2019      '16225     Yogyakarta   Yogyakarta  BRAND_H
4   1679080  Aug 05, 2019          '0            NaN          NaN  BRAND_E

  quantity item_price  product_value
0      '24    '113000         1374.0
1       '1   '1164000         1370.0
2      '12    '747000         1679.0
3       '6    '590000         1708.0
4       '2    '740000         1201.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       5000 non-null   int64
 1   order_date     5000 non-null   object
 2   customer_id    5000 non-null   object
 3   city           3802 non-null   object
 4   province       3802 non-null   object
 5   brand          4995 non-null   object
 6   quantity       5000 non-null   object
 7   item_price     5000 non-null   object
 8   product_value  4995 non-null   float64
dtypes: float64(1), int64(1), object(7)
memory usage: 351.7+ KB
    Info:
 None

[2] UBAH TIPE DATA
    Tipe data:
 order_id           int64
order_date        object
customer_id        int64
city              object
province          object
brand             object
quantity           int64
item_price         int64
product_value    float64
dtype: object

[3] TRANSFORM product_value MENJADI product_id
   order_id    order_date  customer_id           city     province    brand  \
0   1730350  Dec 11, 2019        13447      Surakarta  Jawa Tengah  BRAND_F
1   1677490  Jul 31, 2019            0            NaN          NaN  BRAND_F
2   1704211  Oct 18, 2019        16128  Jakarta Pusat  DKI Jakarta  BRAND_H
3   1679695  Aug 07, 2019        16225     Yogyakarta   Yogyakarta  BRAND_H
4   1679080  Aug 05, 2019            0            NaN          NaN  BRAND_E

   quantity  item_price product_id
0        24      113000      P1374
1         1     1164000      P1370
2        12      747000      P1679
3         6      590000      P1708
4         2      740000      P1201

[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd

KeyError: ignored